.card{
   width: 400px;
   height: 640px;
    font-family: 'Roboto', sans-serif;
   background-color: burlywood;
   border-radius: 60px;
}

.card:hover {
    background-color: beige;
    width: 480px;
   transition: 1s;
}

.fio {
    text-align: center;	
    font-size: 24px;
    font-weight: bold;
    color: #003366; /* Темно-синий для акцента */
}

.birthdate,
.email,
.phone,
.city {
   text-indent: 8px;	
    font-family: times;
    padding: 2px;	
    font-size: 16px;
    color: #333333; /* Темно-серый для основного текста */
}

.birthdate{
	font-style: italic;
}

.email{
	text-decoration: underline;
}


.info p {
   padding: 24px;
    font-size: 14px;
    color: #4E3B31; /* Темно-коричневый для описания */
    line-height: 1.5; /* Удобочитаемость текста */
}

.photo {
   height: 40%;
   padding: 10%;
   align: center;	
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}

img {
   max-height:100%;
   border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}